@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --light-grey: whitesmoke;
  --green: #61951a;
  --yellow: #ebf191;
  --grey: grey;
  --other-bgcolor: #e6ddc6;
  --special-bgcolor: #b980f0;
  --dark: #212121;
  --font: "Outfit", sans-serif;
  --radius: 0.3rem;
}

::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 30rem;
}

body {
  background-color: var(--light-grey);
}

header {
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 10px -8px var(--dark);
}

#logo {
  max-height: 2rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.account {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wallet {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--yellow);
  border-radius: var(--radius);
  color: var(--dark);
  outline: 2px solid var(--green);
  max-width: max-content;
}

.wallet img {
  max-height: 1.4rem;
}

.account-box {
  position: relative;
}

.account-box p {
  color: var(--dark);
  cursor: pointer;
}

.account-info {
  padding: 1rem;
  background-color: var(--yellow);
  border-radius: var(--radius);
  display: grid;
  display: none;
  gap: 0.5rem;
  position: absolute;
  min-width: 100%;
  top: 2rem;
}

.account-info a > p {
  color: var(--dark);
  padding-block: 0.5rem;
  transition: 0.2s ease-in-out;
}

#logout p {
  color: red;
}

.show-account-info {
  display: grid;
}

.burger {
  display: grid;
  gap: 0.2rem;
  cursor: pointer;
  display: none;
}

.div {
  width: 1.4rem;
  height: 0.15rem;
  border-radius: var(--radius);
  background-color: var(--green);
}

.side-nav {
  padding: 1rem;
  background-color: var(--light-grey);
  position: fixed;
  inset: 0;
  z-index: 16;
  visibility: hidden;
  transform: translateX(100%);
  transition: 250ms ease-in-out;
}

.show-side-nav {
  visibility: visible;
  transform: translateX(0);
}

.side-nav-box {
  display: grid;
  gap: 1rem;
}

.side-nav-box p {
  color: var(--dark);
}

.side-nav a {
  font-size: 2.5ch;
  max-width: max-content;
  color: var(--yellow);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font);
  font-weight: 800;
}

p,
span,
input,
label,
a,
textarea,
select {
  font-family: var(--font);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--special-bgcolor);
}

.input {
  display: grid;
  gap: 0.4rem;
}

input,
textarea,
select {
  border: none;
  padding: 0.8em 1em;
  border-radius: var(--radius);
  font-size: 2ch;
  letter-spacing: 0.5px;
  background-color: var(--green);
  outline: 2px solid var(--yellow);
  color: var(--white);
}

input::placeholder,
textarea::placeholder {
  color: var(--light-grey);
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--yellow);
}

button {
  margin-top: 1rem;
  border: none;
  border-radius: var(--radius);
  background-color: var(--yellow);
  outline: 2px solid var(--green);
  padding: 0.8em 1em;
  cursor: pointer;
  font-family: var(--font);
  color: var(--dark);
  font-size: 2ch;
  font-weight: 700;
}

a button {
  padding-block: 0.6em;
  font-size: 1.8ch;
}

button:disabled {
  background-color: rgb(189, 189, 189);
  cursor: auto;
  padding-block: 0.7em;
}

.btn {
  position: relative;
}

.btn:disabled {
  background-color: var(--grey);
  opacity: 0.7;
  cursor: auto;
}

.button--text {
  transition: all 0.2s;
  font-family: var(--font);
  font-weight: 700;
}

.btn--loading .button--text {
  visibility: hidden;
  opacity: 0;
}

.btn--loading::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 20px;
  inset: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: var(--dark);
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.tops {
  display: grid;
  gap: 0.2rem;
  z-index: 10;
}

@keyframes fade-away {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.alert {
  padding: 0.5rem 1.5rem;
  font-family: var(--text-font-1);
  text-align: center;
  position: relative;
  /* animation: fade-away 0.5s forwards 6s ease-out; */
}

#close,
#close-nav {
  position: absolute;
  inset: 0.35rem 3rem 0 auto;
  cursor: pointer;
  font-size: 2.5ch;
}

#close-nav {
  top: 1.4rem;
  right: 1.4rem;
  color: red;
  font-family: var(--font-1);
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
}

@media screen and (max-width: 800px) {
  header {
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding-inline: 1rem;
  }

  .account-box {
    display: none;
  }

  .burger {
    display: grid;
  }

  .alert {
    text-align: left;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: unset;
  }

  #close {
    position: unset;
  }
}

@media screen and (max-width: 400px) {
  #logo {
    max-height: 1.5rem;
  }

  .wallet img {
    max-height: 1rem;
  }

  .wallet h4 {
    font-size: 1.6ch;
  }
}

@media screen and (max-width: 300px) {
  .account {
    display: none;
  }
}
