{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/game-summary.css') }}">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="container">
  <div class="summary-box">
    {% if session_round.score == 5 %}
    <h2>Congratulations You got all questions correct</h2>
    {% else %}
    <h2>Better luck in the next round</h2>
    {% endif %}
    <p>You scored <b>{{ session_round.score }}</b> out of <b>5</b></p>
    <a href="{{ url_for('home') }}">
      <button>Play Again</button>
    </a>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}