{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wallet.css') }}">
{% endblock %}

{% block title %}
Wallet
{% endblock %}

{% block body %}
<div class="container">
  <div class="wallet-box">
    <div class="wallet-info">
      <h1>Available Balance</h1>
      <p><span id="wallet">{{ "Ksh {:,}".format(current_user.wallet) }}</span></p>
    </div>
    <div class="wallet-actions">
      <a href="{{ url_for('payment', payment_method='deposit') }}">
        <button>Deposit</button>
      </a>
      <a href="{{ url_for('payment', payment_method='withdraw') }}">
        <button>Withdraw</button>
      </a>
    </div>
  </div>
  <div class="history-box">
    <div class="history deposit">
      <h3>Deposit History</h3>
      <div class="deposit-info-box">
        {% if deposits %}
        {% for deposit in deposits if deposit.MerchantRequestID %}
        <div class="deposit-info">
          <h4>{{ deposit.unique_id }}</h4>
          <p>{{ "Ksh {:,}".format(deposit.amount) }}</p>
          {% if deposit.transactionDate %}
          <p>{{ deposit.transactionDate.strftime("%d/%m/%Y") }}</p>
          {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <div class="else">
          <p>No Deposits</p>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="history withdrawal">
      <h3>Withdrawal History</h3>
      <div class="withdrawal-info-box">
        {% if withdrawals %}
        {% for withdraw in withdrawals if withdraw.MerchantRequestID %}
        <div class="withdrawal-info">
          <h4>{{ withdraw.unique_id }}</h4>
          <p>{{ "Ksh {:,}".format(withdraw.amount) }}</p>
          {% if withdraw.transactionDate %}
          <p>{{ withdraw.transactionDate.strftime("%d/%m/%Y") }}</p>
          {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <div class="else">
          <p>No Withdrawals</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<!-- <script src="{{ url_for('static', filename='js/mpesa.js') }}"></script> -->
{% endblock %}